__MACOSX/
__pycache__/
.DS_Store
__pycache__/
*.py[cod]
*$py.class
data-sets/
*.obj
.ipynb_checkpoints
*/.ipynb_checkpoints/*
checkpoint*/
submission.csv

# IPython
profile_default/
ipython_config.py

temp.csv/

credential.ini
